<div style:"width:100%">
  <img id="splashpng" src="<%= asset_path('splash.png') %>" height="100%"/>
  <form class="center" id="splashform" action="/cs" method="get">
    <div id="genderbuttonset">
      <input type="radio" class="goplayinput" id="radio1" name="gender" value="f"><label class="goplaylabel" for="radio1">Female</label>
      <input type="radio" class="goplayinput" id="radio2" name="gender" value="m"><label class="goplaylabel" for="radio2">Male</label>
    </div>
    <div id="agebuttonset">
      <input type="radio" class="goplayinput" id="radio3" name="age" value="0"><label class="goplaylabel" for="radio3">Under 10</label>
      <input type="radio" class="goplayinput" id="radio4" name="age" value="1"><label class="goplaylabel" for="radio4">10-13</label>
      <input type="radio" class="goplayinput" id="radio5" name="age" value="2"><label class="goplaylabel" for="radio5">14-18</label>
      <input type="radio" class="goplayinput" id="radio6" name="age" value="3"><label class="goplaylabel" for="radio6">Over 18</label>
    </div> 
    <br/>
    <input class="goplaybtn" type="submit" disabled="true" value="Play Now" />
  </form>
  <%= link_to "I prefer not to say my gender or age", "/cs" %>
</div>

<script>
  $(function() {
	$( "#genderbuttonset" ).buttonset();
	$( "#agebuttonset" ).buttonset();
	$( ".goplaybtn" ).button();
	$( ".goplayinput" ).click(function() {
  	  var genderChecked = ($('input[name=gender]:checked').size() > 0);
  	  var ageChecked = ($('input[name=age]:checked').size() > 0);
  	  if( genderChecked && ageChecked) $( ".goplaybtn").button("enable");
        } );
	//if( @gender ) {alert("There is a gender parameter: "+@gender);}
	if(getCookie("csgender") == "f") {
	   // We have found a cookie with a gender, do something!
	   $( "#radio1" ).click();
	}
	if(getCookie("csgender") == "m") {
	   $( "#radio2" ).click();
	}
	if(getCookie("csage") != "") {
		var genderbtn = "radio"+getCookie("csage");
	   $( "#"+genderbtn ).click();
	}
	if(getCookie("csage") != "" && getCookie("csgender") != "") $( ".goplaybtn").button("enable");
	
});

  $(document).ready(function(){
        if( $('#current_user').length > 0 ) {
           var csGender = $('#current_user_gender').text();
           if(csGender == 'f') { $( "#radio1" ).click();}
           if(csGender == 'm') { $( "#radio2" ).click();}
	   var csAgeGroup = $('#current_user_age').text();
           if(csAgeGroup == '0') { $( "#radio3" ).click();}
           if(csAgeGroup == '1') { $( "#radio4" ).click(); }
           if(csAgeGroup == '2') { $( "#radio5" ).click();}
           if(csAgeGroup == '3') { $( "#radio6" ).click(); }

        }
	var genderChecked = ($('input[name=gender]:checked').size() > 0);
        var ageChecked = ($('input[name=age]:checked').size() > 0);

	if( genderChecked && ageChecked) $( ".goplaybtn").button("enable");
});
</script>
