<div style:"width:100%">
  <img id="splashpng" src="<%= asset_path('splash.png') %>" height="100%"/>
  <form class="center" id="splashform" action="/cs" method="get">
    <div id="genderbuttonset">
      <input type="radio" class="goplayinput" id="radio1" name="gender" value="f"><label class="goplaylabel" for="radio1">Female</label>
      <input type="radio" class="goplayinput" id="radio2" name="gender" value="m"><label class="goplaylabel" for="radio2">Male</label>
    </div>
    <div id="agebuttonset">
      <input type="radio" class="goplayinput" id="radio3" name="age" value="3"><label class="goplaylabel" for="radio3">Under 10</label>
      <input type="radio" class="goplayinput" id="radio4" name="age" value="4"><label class="goplaylabel" for="radio4">10-13</label>
      <input type="radio" class="goplayinput" id="radio5" name="age" value="5"><label class="goplaylabel" for="radio5">14-18</label>
      <input type="radio" class="goplayinput" id="radio6" name="age" value="6"><label class="goplaylabel" for="radio6">Over 18</label>
    </div>
    <input class="goplaybtn" type="submit" disabled="true" value="Play Now" />
  </form>
  <%= link_to "I prefer not to say my gender or age", "/cs" %>
</div>

<script>
  $(function() {
	//TODO: the above button is set to 'get', but consider using 'post' in order to save form values.
	$( "#genderbuttonset" ).buttonset();
	$( "#agebuttonset" ).buttonset();
	$( ".goplaybtn" ).button();
	$( ".goplayinput" ).click(function() {
  	  var genderChecked = ($('input[name=gender]:checked').size() > 0);
  	  var ageChecked = ($('input[name=age]:checked').size() > 0);
  	  if( genderChecked && ageChecked) $( ".goplaybtn").button("enable");
        } );
	//if( @gender ) {alert("There is a gender parameter: "+@gender);}
	if(getCookie("csgender") == "f") {
	   // We have found a cookie with a gender, do something!
	   $( "#radio1" ).click();
	}
	if(getCookie("csgender") == "m") {
	   $( "#radio2" ).click();
	}
	if(getCookie("csage") != "") {
		var genderbtn = "radio"+getCookie("csage");
	   $( "#"+genderbtn ).click();
	}
	if(getCookie("csage") != "" && getCookie("csgender") != "") $( ".goplaybtn").button("enable");
	
});

</script>
