
<h1>Knitting Circle Community</h1>
<%= link_to 'Back', '/knitcircle' %>
<table>
  <thead>
    <tr>
      <th>Thumbnail</th>
      <th>Created By</th>
    </tr>
  </thead>

  <tbody>
    <% @artifacts.each do |artifact| %>
      <tr>
        <td><%= link_to image_tag(artifact.thumbnail), artifact %></td>
        <td><%= artifact.uname %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

