// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.csCode {
	font-family: "Courier New", monospace;
	color: purple;
}

#knitnowbutton {
	background: #17b13a;
}
.csDiaBtn {
	background: #b0b1c5;
}

.csRadioLabel {
	background: #b0b1c5;
}
